ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: greenyellow;
}

li {
  float: left;
}

li a {
  display: block;
  color: orangered;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}